@charset "UTF-8";
body {
  background: #f1f6fc;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

.c-header {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  border-bottom: solid 1px #888;
}
.c-header_title {
  color: #222;
}
.c-header_subTitle {
  color: #888;
}
.c-footer {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  border-top: solid 1px #888;
  margin-top: 60px;
}
.c-main {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 60px;
}
.c-button {
  display: block;
  position: relative;
  margin-top: 20px;
  background: #fff;
  color: #222;
  text-decoration: none;
  width: 200px;
  padding: 20px;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.c-button span {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #222;
  border-right: 1px solid #222;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
}